%html
  = stylesheet_link_tag "users", :media => "all"
  %body
    .title
      会員情報入力
    %main
      - required = "必須"
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field__top
          .field__label
            = "ニックネーム"
            %span
              = required
              %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例) フリマ太郎"
        - if resource.errors[:nickname]
          #error_explanation
            = resource.errors.full_messages_for(:nickname).first
        .field
          .field__label
            = "メールアドレス"
            %span
              = required
              %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        - if resource.errors[:email]
          #error_explanation
            = resource.errors.full_messages_for(:email).first
        - if @sns_id.present?
          = hidden_field_tag :sns_auth, true
        - else
          .field
            .field__label
              = "パスワード"
              %span
                = required
                %br/
            = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
          - if resource.errors[:password]
            #error_explanation
              = resource.errors.full_messages_for(:password).first
          .field
            .field__label
              = "パスワード(確認用)"
              %span
                = required
                %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用"
          - if resource.errors[:password]
            #error_explanation
              = resource.errors.full_messages_for(:password).first
        .field
          .field__label
            = "本人確認"
          .field__confirmation
            = "安心・安全にご利用いただくために、お客さまの本人"
            %br/
            = "情報の登録にご協力ください。他のお客さまに公開さ"
            %br/
            = "れることはありません。"
        .field
          .field__label
            = "お名前(全角)"
            %span
              = required
              %br/
          .field__label__parallel
            = f.text_field :family_name, autofocus: true, placeholder: "例) 山田"
            = f.text_field :first_name, autofocus: true, placeholder: "例) 彩"
        - if resource.errors[:family_name]
          #error_explanation
            = resource.errors.full_messages_for(:family_name).first
        - if resource.errors[:first_name]
          #error_explanation
            = resource.errors.full_messages_for(:first_name).first
        .field
          .field__label
            = "お名前かな(全角)"
            %span
              = required
              %br/
          .field__label__parallel
            = f.text_field :family_name_kana, autofocus: true, placeholder: "例) やまだ"
            = f.text_field :first_name_kana, autofocus: true, placeholder: "例) あや"
        - if resource.errors[:family_name_kana]
          #error_explanation
            = resource.errors.full_messages_for(:family_name_kana).first
        - if resource.errors[:first_name_kana]
          #error_explanation
            = resource.errors.full_messages_for(:first_name_kana).first
        .field
          .field__label
            = "生年月日"
            %span
              = required
              %br/
          .field__help
            - birthday_select = f.date_select :birth_day, {use_month_numbers: true,start_year: (Time.now.year), end_year: 1900, default: Date.new(Time.now.year - 20), prompt:"--", date_separator:'%s'}, {class: "input__select"}
            = raw sprintf(birthday_select, '年 ', '月 ') +'日'
        - if resource.errors[:birth_day]
          #error_explanation
            = resource.errors.full_messages_for(:birth_day).first
        .field
          .field__attention
            = "※ 本人情報は正しく入力してください。会員登録後、"
            %br/
            = "修正するにはお時間を頂く場合があります。"
          = f.submit "次へ進む", class: "btn"