= stylesheet_link_tag "purchase", media: :all 
.main
  .showMain
    .mainContent
      .itemBox
        .title
          購入内容の確認
        .product
          .product__content
            .product__content__image
              = image_tag @product.images.first.image.to_s
            .product__content__info
              .product__content__info__name
                = @product.name
              .product__content__info__content
                %span.product__content__info__content__paymentMethod
                  - if @product.cost == 1
                    = "送料込み(税込)"
                  - else
                    = "着払い(税込)"
                %span.product__content__info__content__price
                  = "¥" + "#{@product.price.to_i.to_s(:delimited)}"

        .price
          .price__title
            支払い金額
          .price__detail
            = "¥" + "#{@product.price.to_i.to_s(:delimited)}"
    
        .card
          .card__header
            .card__header__title
              支払い方法
            .card__header__ChangingCard
              = link_to "変更する", card_product_purchase_path if @card.present?
          - if @card.present?
            .card__detail
              %p クレジットカード
              %p= "************" + @card_information.last4
              - month = @card_information.exp_month.to_s
              - year = @card_information.exp_year.to_s[ 2 ... 4 ]
              %p= "有効期限 #{month + "/" + year}"
              %p#brand= image_tag("/images/#{@card_src}")
          - else
            = link_to "登録してください", cards_path, class: :card__register
        
        .destination
          .destination__header
            .destination__header__title 配送先
            .destination__header__ChangingDestination
            = link_to "変更する", "" if @destination.present?
          - if @destination.present?
            .destination__detail
              %p= "〒#{@destination.post_code}"
              %p= Prefecture.find(@destination.prefecture_id).name
              %p= @destination.city
              %p= @destination.address
              %p= @destination.building_name if @destination.building_name.present?
              %p= "#{@destination.family_name} #{@destination.first_name}"
          - else
            = link_to "登録してください", "#", class: :destination__register
        
        .submit
          = form_with url: pay_product_purchase_path, local: true do |f|
            = f.submit '購入する', class: :submit__btn
      = render partial: "breadCrumbs"
