クレジットカード一覧

= "************" + @card_information.last4
= @card_information.exp_month.to_s + "/" + @card_information.exp_year.to_s[ 2 ... 4 ]
= image_tag("/images/#{@card_src}")

= link_to "削除する", card_path, method: :delete

.breadCrumbs
  %ul
    %li= link_to "トップページ", "/"
    %li= link_to "マイページ", users_path(current_user.id)
    %li 支払い方法