= stylesheet_link_tag "_top-page", media: "all"
= stylesheet_link_tag "_search-list", media: "all"
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= render 'header'
.wrapper
  .again-search
    = search_form_for @search, url: again_search_products_path do |f|
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'})
      .again-search__field
      .again-search__title
        詳細検索
      .again-search__keyword
        キーワードを追加する
      .form_a
        = f.search_field :name_cont, placeholder: "例）値下げ", class: "search_name"
      .category-area
        カテゴリーを選択する
        .category-area__choose-space
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: 'すべて'}, {id: 'parent_category'}
      .again-search__brand
        ブランド名から探す
      .again-search__brand--form
        = f.search_field :brand_eq, placeholder: "例）シャネル", class: "brand_name"
      .again-search__price
        価格
        .search__group__forms
          = select_tag :price_range, options_from_collection_for_select(PriceRange.all, :id, :name), { prompt: "選択してください", id: 'price_range'}
        .price-range__input
          = f.number_field :price_gteq, placeholder: "¥ Min", class: 'price-range__input--form'
          .price-range__swang ~
          = f.number_field :price_lteq, placeholder: "¥ Max", class: 'price-range__input--form'
      .search-checkbox__status
        .again-search__status
          商品の状態
        .group-checkbox
          %label
            %input{type: "checkbox", class: "status-all_checkbox", id: "check-status"}
            = 'すべて'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '1', nil
            = '新品、未使用'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '2', nil
            = '未使用に近い'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '3', nil
            = '目立った傷や汚れなし'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '4', nil
            = 'やや傷や汚れあり'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '5', nil
            = '傷や汚れあり'
        .group-checkbox
          %label
            = f.check_box :status_in, {multiple: true, class: "status_checkbox"}, '6', nil
            = '全体的に状態が悪い'
      .search-checkbox__cost
        .again-search__cost
          %p 配送料の負担
        .group-checkbox
          %label
            %input{type: "checkbox", class: "cost-all_checkbox", id: "check-cost"}
            = 'すべて'
        .group-checkbox
          %label
            = f.check_box :cost_in, {multiple: true, class: "cost_checkbox"}, '1', nil
            = '着払い(購入者負担)'
        .group-checkbox
          %label
            = f.check_box :cost_in, {multiple: true, class: "cost_checkbox"}, '2', nil
            = '送料込み(出品者負担)'
      .again-search__buyer
        販売状況
      .group-checkbox
        %label
          %input{type: "checkbox", class: "buyer-all_checkbox", id: "check-buyer"}
          = 'すべて'
      .group-checkbox
        %label
          = f.check_box :buyer_id_null, as: :boolean, include_hidden: false, class: "buyer_checkbox"
          = '販売中'
      .group-checkbox
        %label
          = f.check_box :buyer_id_gteq_all, {multiple: true, class: "buyer_checkbox"}, '1', nil
          = '売り切れ'
      .button-area
        .button-area__all
          .button-area__clear
          = link_to "クリア", request.path, class: "button-area__clear--btn"
        .button-area__search
          = f.submit "完了", class: "button-area__search--btn"
  .main
    .search-text
      = "検索結果"
    .product__all
      - @search_products.each do |product|
        %ul.product__list
          %li.product__content
            = link_to product_path(product.id) do
              = image_tag product.images.first.image.to_s, { class: 'product__image'}
              .product__info
                .product__info--name
                  = "#{product.name}"
                .product__info--price
                  = "¥#{product.price}(税込)"
                  = "#{product.judgment}"

= link_to new_product_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    = image_tag("/images/material/icon/icon_camera.png", class: "purchaseBtn__icon")
