= stylesheet_link_tag "_top-page", media: "all"
= stylesheet_link_tag "_destroy-page", media: "all"
= render 'header'
%h2.font-style
  商品を削除しました
= link_to "トップページへ戻る", root_path, class: "redirect-btn"
= link_to new_product_path do
  .purchaseBtn
    %span.purchaseBtn__text 出品する
    %img.purchaseBtn__icon{:src => "/images/material/icon/icon_camera.png"}/