%main
  %section.sell-container
    = form_for @product do |f|
      .sell-container__content
        .sell-title
          %h3.sell-title__text
            出品画像
            %span.sell-title__require 必須
        .sell-container__content__max-sheet 最大10枚までアップロードできます
        .sell-container__content__upload
          .sell-container__content__upload__products
            %ul#image-container
              %div#image-input{tabindex:"0"}
                = f.fields_for :images, for: "product_images0", data: {label_id: 0} do |i|
                  .input-area
                    = i.file_field :image, type: 'file', name: "product[images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                    %label{for: "img-file"}
                      %i.fas.fa-camera.fa-lg
      .sell-container__content
        .sell-title
          %h3.sell-title__text
            商品名
            %span.sell-title__require
              必須
        = f.text_field :name, {class:'sell-collection_input', required: "required", placeholder: '商品名（必須 40文字まで)'}
        .sell-title
          %h3.sell-title__text
            商品の説明
            %span.sell-title__require
              必須
        = f.text_area :description, class: 'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: text_placeholder
        .error-messages#error-text
        
      .sell-container__content
        %h3.sell-sub-head 商品の詳細
        .sell-container__content__details
          .sell-title
            .sell-title__text
              カテゴリー
              %span.sell-title__require
                必須
          .sell-collection__select
            = f.label :category_id, {class: 'sell-collection_select__label'} do
              = f.collection_select :category_id, @category_parent, :id, :name, {prompt: "選択してください"}, {class: 'sell-collection_input', id: 'category-select',required: "required"}
              %i.fas.fa-chevron-down
          .sell-collection_select
            .sell-title__text
              ブランド
              %span.sell-title__option
                任意
            = f.text_field :brand, {class:'sell-collection_input', placeholder: '例) シャネル'}
          .sell-title
            %h3.sell-title__text
              商品の状態
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.label :status, {class: 'sell-collection_select__label'} do
              = f.collection_select :status, Status.all, :id, :name, {prompt: '選択してください'}, {class: 'sell-collection_input',required: "required"}
              %i.fas.fa-chevron-down
      .sell-container__content
        %h3.sell-sub-head
          %p 配送について
        .sell-container__content__delivery
          .sell-title
            %h3.sell-title__text
              配送料の負担
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.label :cost, {class: 'sell-collection_select__label'} do
              = f.collection_select :cost, Cost.all, :id, :name, {prompt: '選択してください'},  {class: 'sell-collection_input',required: "required"}
              %i.fas.fa-chevron-down
          .sell-title
            %h3.sell-title__text
              発送元の地域
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.label :prefecture_id, {class: 'sell-collection_select__label'} do
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '選択してください'}, {class: 'sell-collection_input',required: "required"}
              %i.fas.fa-chevron-down
          .sell-title
            %h3.sell-title__text
              発送までの日数
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.label :days, {class: 'sell-collection_select__label'} do
              = f.collection_select :days, Days.all, :id, :name, {prompt: '選択してください'}, {class: 'sell-collection_input',required: "required"}
              %i.fas.fa-chevron-down
      .sell-container__content
        %h3.sell-sub-head
          %p 販売価格(300〜9,999,999)
        .sell-container__content__price
          .sell-title
            %h3.sell-title__text
              販売価格
              %span.sell-title__require
                必須
          .sell-container__content__price__form
            = f.label :price, class: 'sell-container__content__price__form__label' do
              ¥
              = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
        .sell-container__content__commission
          .sell-container__content__commission__left
            販売手数料 （10%）
          .sell-container__content__commission__right ー
        .sell-container__content__profit
          .sell-container__content__profit__left
            販売利益
          .sell-container__content__profit__right ー
        .submit-btn
          = f.submit '出品する', class: 'submit-btn__sell-btn'
          = link_to 'もどる', root_path, class: 'submit-btn__return-btn'
        .attention-box
          %p
            禁止されている
            = link_to '行為', '/prohibited_conduct', target: '_blank'
            および
            = link_to '出品物', '/prohibited_item', target: '_blank'
            を必ずご確認ください。
            = link_to '偽ブランド品', '/counterfeit_goods', target: '_blank'
            や
            = link_to '盗品物', '/stolen_goods', target: '_blank'
            などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
            = link_to '加盟店規約', '/seller_terms', target: '_blank'
            に同意したことになります。
  %footer.sell-footer
    .footer__logo
      = link_to root_path  do
        %img{:src => "/images/material/logo/logo-white.png"}
    %p 
      %small
        © FURIMA