= stylesheet_link_tag "products", :media => "all"
.main
  .showMain
    .mainContent
      .itemBox
        .itemBox__name
          = @product.name
        .itemBox__image
          %ul
            %li
              = image_tag @product.images.first.image.to_s, class: "itemBox__image--large"
              %ul.itemBox__image--small
                - @product.images.each do |image|
                  %li= image_tag image.image.to_s, width: "75", height: "75"
        .itemBox__price
          %span= "¥" + @product.price
          .itemBox__price__detail
            %span (税込)
            %span 送料込み

        - if user_signed_in? && current_user.id != @product.seller_id
          = link_to "購入画面に進む", "/products/#{@product.id}/purchase/#{@product.id}", method: :get, class: "itemBox__btn"

        .itemBox__description
          = @product.description
        %table 
          %tr
            %th 
              出品者
            %td
              = @product.seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = @product.category.name
          %tr
            %th
              ブランド
            %td
              = @product.brand
          %tr
            %th
              サイズ
            %td
              = @product.size
          %tr
            %th
              商品の状態
            %td
              = Status.find(@product.status).name
          %tr
            %th
              配送料の負担
              - if @product.cost.present?
                %td
                  = Cost.find(@product.cost).name
              - else
                %td
                  送料込み (出品者負担)
          %tr
            %th
              発送元の地域
            %td
              = @product.prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = Days.find(@product.days).name

        - if user_signed_in? && current_user.id == @product.seller_id
          = link_to "編集", edit_product_path(@product.id), class: "itemBox__btn"
          = link_to "削除", product_path(@product.id), method: "DELETE", class: "itemBox__btn"