.main
  .showMain
    .mainContent
      .itemBox
        .itemBox__name
          = @product.name
        .itemBox__image
          %ul
            %li
              = image_tag @product.images.first.image, class: "itemBox__image--large"
              %ul.itemBox__image--small
                - @product.images.each do |image|
                  %li= image_tag image.image, width: "75", height: "75"
        .itemBox__price
          %span= "¥" + @product.price
          .itemBox__price__detail
            %span (税込)
            %span 送料込み

        - if user_signed_in? && current_user.id != @product.user_id
          = link_to "購入画面に進む", root_path, class: "itemBox__btn"

        .itemBox__description
          = @product.description
        %table 
          %tr
            %th 
              出品者
            %td
              = @product.user.nickname
          %tr
            %th
              カテゴリー
            %td
              = @product.category.name
          %tr
            %th
              ブランド
            %td

              = @product.brand.name
          %tr
            %th
              サイズ
            %td
              = @product.size
          %tr
            %th
              商品の状態
            %td
              = @product.status
          %tr
            %th
              配送料の負担
              - if @product.cost.present?
                %td
                  = @product.cost + "円 (購入者負担)"
              - else
                %td
                  送料込み (出品者負担)
          %tr
            %th
              発送元の地域
            %td
              = @product.prefecture_id
          %tr
            %th
              発送日の目安
            %td
              = @product.days + "日で発送"

        - if user_signed_in? && current_user.id == @product.user_id
          = link_to "編集", edit_product_path(@product.id), class: "itemBox__btn"
          = link_to "削除", product_path(@product.id), method: "DELETE", class: "itemBox__btn"